@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root  {
  --background: 102 8% 95%;
  --foreground: 102 5% 10%;
  --card: 102 8% 90%;
  --card-foreground: 102 5% 15%;
  --popover: 102 8% 95%;
  --popover-foreground: 102 95% 10%;
  --primary: 102 63.1% 59.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 102 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 64 10% 85%;
  --muted-foreground: 102 5% 35%;
  --accent: 64 10% 80%;
  --accent-foreground: 102 5% 15%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 102 5% 90%;
  --border: 102 20% 50%;
  --input: 102 20% 23%;
  --ring: 102 63.1% 59.6%;
  --radius: 0.5rem;
}
.dark  {
  --background: 102 10% 10%;
  --foreground: 102 5% 90%;
  --card: 102 8% 10%;
  --card-foreground: 102 5% 90%;
  --popover: 102 10% 5%;
  --popover-foreground: 102 5% 90%;
  --primary: 102 63.1% 59.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 102 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 64 10% 23%;
  --muted-foreground: 102 5% 60%;
  --accent: 64 10% 23%;
  --accent-foreground: 102 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 102 5% 90%;
  --border: 102 20% 23%;
  --input: 102 20% 23%;
  --ring: 102 63.1% 59.6%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
